.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.login{
  border: 12px ridge #61dafb;
  margin: 2px;
  padding: 60px;
  background-color: black;
  color: #e0dfdc;
  background-color: #61dafb;
  letter-spacing: .1em;
  text-shadow: 0 -2px 0 rgb(12, 9, 9), 0 .24px 0 #2e2e2e, 0 2.2px 0 #2db950, 0 3px 0 #44b66f, 0 4px 0 #b17f34, 0 5px 0 #ca1616, 0 6px 0 #50cee4, 0 7px 0 #222, 0 8px 0 #4ac8ee, 0 4px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

.input {
  background-color: #121212;
  color: #61dafb;
  border: 12px ridge #61dafb;
  
}
.todo{
  border: 42px ridge #61dafb;
  margin: 2px;
  padding: 60px;
  background-color: black;

  filter: saturate(130%) contrast(110%) drop-shadow(12px 10px 8px);
  transition: transform .15s;
}
.todo:hover {
  position: relative;
  transform: scale(1.5);
  z-index: 1;
  color: lightgray;
  filter: saturate(120%) contrast(120%) drop-shadow(12px 10px 8px);
}
input[type='radio']:checked + div{
  text-decoration: line-through;
}
